{% load static %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <title>Purchase Agreement</title>
        <style type="text/css">
            *{
                font-size: 16px;
            }
            
            @page{
                size: a4 portrait;
                @frame content_frame {   
                       /*Content Frame*/
                    left: 10pt; 
                    top: 30pt;
                    right:10pt;
                    bottom:0;
                }
            }
        </style>

    </head>
    <body style="margin: 50px 50px 50px 50px; font-size: medium;">
        <div><img src="http://127.0.0.1:8000/static/images/cover_logo.png" style="height: 500px; width: 700px; margin:0;border:solid red;" ></div>
        Dear <span style="font-weight: 700;">{{cust_name}}</span>,
        <p style="margin:0; ">
            Thank you fro your interest in selling your home with a quick, no hassle, competely<span style="font-weight: 700;"> AS IS WHERE IS ALL CASH offer</span>.Our team buys homes in cahs with no contingencies. There will be no realtor conditions, no closing costs, no brokerage commissions no fees of any kind saving you tens of thousands of dollars! We can close immediately and same you the hassle time investment associated with a traditional sale.
            <br>
            As we're sure you're aware the contracting conditions can greatly affect the value of your home. The attached offer is completely <span style="font-weight: 700;">SIGHT UNSEEN</span>. Just accept and we can close on your property in as little as 10 days. Or contact our team and we can schedule a time for one of our team to come out and previce the property with you. This is a quick proces that only takes around 20 minutes and will allow us to make a revised and much stronger offer.
            <br>
            <br>
            Our team looks forward to hearing from you soon!
            <br>
            <br>
            <span style="font-weight: 700;">Nate Coryell, CEO</span>
        </p>
        <pdf:nextpage>
        <h1 style="text-align: center;">PURCHASE AGREEMENT</h1>
        <p>THIS PURCHASE AGREEMENT (Agreement) made this <span style="font-weight: 700;">{{date}}</span> , between LAND USE LLC and <span style="font-weight: 700;">{{cust_name}}</span> (Seller).</p>
        <p>WHEREAS, Seller is the owner of a certain improved real property located at {{location}} (Property); and</p>
        <p>WHEREAS, Purchaser wishes to acquire the Property and Seller wishes to convey the Property on the terms set forth in this Agreement.</p>
        <h5>NOW THEREFORE BE IT AGREED:</h5>
        <p>1.1. Purchase Price.  The purchase price for the property shall be <span style="font-weight: 700;">{{zestimate}}</span> (Purchase Price) to be paid in cash or good funds at Closing hereinafter defined.</p>
        <p>2.Deposit. Within three business days of the acceptance and ratification by Purchaser and Seller of this Agreement, Purchaser shall deliver to The Sack Law Firm P.C., located at 8270 Greensboro Drive, Suite 810, McLean, Virginia 22102.
        500$ (the Deposit) to be held in escrow to be credited against the Purchase Price at the time of Closing or otherwise disposed of in accordance with this Agreement.
        </p>
        <p>3.No Financing.  This Agreement is not conditioned upon Purchaser securing financing and the obligations set forth herein are not conditional on financing.</p>
        <p>4.Assignability.  This Agreement shall be fully assignable by Purchaser without the necessity of consent of any kind by Seller.  To that end Purchaser may market or advertise the Property as available for purchase by an assignee of this Agreement.  Seller shall have no right to object in any form or fashion to the assignment. </p>
        <p>5.Condition of Property.  Purchase and any assignee acknowledge and confirm that the Property is being acquired as is and Purchaser and any assignee waive any disclosures that might otherwise be applicable to the sale of the Property.</p>
        <p>6.Brokers/Realtors.  The principal of Purchaser, Nathan Coryell, is a licensed realtor in the Commonwealth of Virginia and waives any claim to a commission or a fee from Seller.  Seller confirms and agrees that no realtor or broker has been engaged by Seller and no commissions are due to any such realtor or broker by reason of this transaction.</p>
        <p>7.Closing Date. The parties have agreed that the acquisition of the Property will takeplace on or before <span style="font-weight: 700;">{{last_date}}</span>. Purchase shall give Seller three days’ notice of theproposed closing date (Closing Date)</p>
        <pdf:nextpage>
        <p>8.Settlement Agent.  Purchaser has selected Monarch Title of McLean, Virginia as the settlement agent.  Purchaser may at its option change the choice of settlement agent at any time for any reason.</p>
        <p>9.Good Title.  Seller agrees that it shall convey good title to the Property and shall take such steps as are necessary to remove any title impairments</p>
        <p>10.Possession.  Seller agrees to vacate the Property as of the Closing Date and to permit access by the Purchaser to the Property the day before the Closing Date to ensure that there are no obstacles to possession. </p>
        <p>11.Closing Costs.  All taxes, insurance, assessments and similar charges shall be adjusted as of the Closing Date.  The Seller shall pay the cost of the preparation of the Deed of Conveyance and grantor’s tax and such other charges as are customarily allocated to Seller.  All other costs of Closing including title insurance shall be paid by Purchaser</p>
        <p>12.Failure to Close.  In the event Seller fails to close timely under this Agreement Purchaser shall have all rights permitted under the law including the right of specific performance.  In the event Purchaser fails to close the Deposit shall be released to Seller as liquidated damages and the parties shall be without further obligations to one another.</p>
        <p>IN WITNESS WHEREOF, the parties have put their hands and seals on the date first above written.</p>
        <p>
            PURCHASER</p>
        <p><span style="font-weight: 700;">LAND USE LLC</span></p>
        <p><span style="font-weight: 700;">By:Nathan Coryell</span></p>
        <p><span style="font-weight: 700;">Telephone: 703-732-1941
           <br> Email:  agentnate@gmail.com</span></p>
    </body>
</html>