{% load static %}
<!DOCTYPE html>
<html lang="en">
  {% include 'acc/head-section.html' %}
  <body>

	  <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
	    <div class="container">
	      <h4 class="" href="/" style="color:#000;">Mega Cash for Homes</h4>
	      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
	        <span class="oi oi-menu"></span> Menu
	      </button>

	      <div class="collapse navbar-collapse" id="ftco-nav">
	        <ul class="navbar-nav ml-auto">
	          <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
	          <li class="nav-item"><a href="/about/" class="nav-link">About</a></li>
	          <li class="nav-item"><a href="/get-a-cash-offer-today/" class="nav-link">Sell Now</a></li>
	          <li class="nav-item"><a href="/meet/" class="nav-link">Meet Us</a></li>
	          <li class="nav-item active"><a href="/blog/" class="nav-link">Blog</a></li>
	          <li class="nav-item"><a href="/contact/" class="nav-link">Contact Us</a></li>
	        </ul>
	      </div>
	    </div>
	  </nav>
    <!-- END nav -->

    <section class="hero-wrap hero-wrap-2 ftco-degree-bg js-fullheight" title="Mega Cash For Homes blog section"  style="background-image: url('{% static 'images/mega-cash-for-homes-cover-image.jpg' %}');" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate pb-5 text-center">
          	<p class="breadcrumbs"><span class="mr-2"><a href="/">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>Blog{{blogid}} <i class="ion-ios-arrow-forward"></i></span></p>
            <h1 class="mb-3 bread">Our Blog</h1>
          </div>
        </div>
      </div>
      <div class="mouse">
				<a href="#offer-block" class="mouse-icon">
					<div class="mouse-wheel"><span class="ion-ios-arrow-round-down"></span></div>
				</a>
			</div>
    </section>

		<section class="ftco-section">
      <div class="container">
        <div class="row d-flex">
          <div class="col-md-4 d-flex ftco-animate">
          	<div class="blog-entry justify-content-end">
              <div class="text">
                <h3 class="heading"><a href="/blogs/1/">{{bg1.heading_1}}<br></a></h3>
                <div class="meta mb-3">
                  <div><a href="/blogs/1/">Admin</a></div>
                  <div><a href="/blogs/1/" class="meta-chat"><span class="icon-chat"></span> </a></div>
                </div>
                <a href="/blogs/1/" class="block-20 img" style="background-image: url('{% static 'images/mega-cash-for-homes-blog-1.jpg' %}');">
	              </a>
                <p>{{bg1.heading_2}}</p>
              </div>
            </div>
          </div>
          <div class="col-md-4 d-flex ftco-animate">
          	<div class="blog-entry justify-content-end">
              <div class="text">
                <h3 class="heading"><a href="/blogs/2/">{{bg2.heading_1}}</a></h3>
                <div class="meta mb-3">
                  <div><a href="/blogs/2/">Admin</a></div>
                  <div><a href="/blogs/2/" class="meta-chat"><span class="icon-chat"></span></a></div>
                </div>
                <a href="/blogs/2/" class="block-20 img" style="background-image: url('{% static 'images/mega-cash-for-homes-blog-2.jpg' %}');">
	              </a>
                <p>{{bg2.heading_2}}</p>
              </div>
            </div>
          </div>
          <div class="col-md-4 d-flex ftco-animate">
          	<div class="blog-entry justify-content-end">
              <div class="text">
                <h3 class="heading"><a href="/blogs/3/">{{bg3.heading_1}}</a></h3>
                <div class="meta mb-3">
                  <div><a href="/blogs/3/">Admin</a></div>
                  <div><a href="/blogs/3/" class="meta-chat"><span class="icon-chat"></span></a></div>
                </div>
                <a href="/blogs/3/" class="block-20 img" style="background-image: url('{% static 'images/mega-cash-for-homes-blog-3.jpg' %}');">
	              </a>
                <p>{{bg3.heading_2}}</p>
              </div>
            </div>
          </div>

          <div class="col-md-4 d-flex ftco-animate">
          	<div class="blog-entry justify-content-end">
              <div class="text">
                <h3 class="heading"><a href="/blogs/4/">{{bg4.heading_1}}</a></h3>
                <div class="meta mb-3">
                  <div><a href="/blogs/4/">Admin</a></div>
                  <div><a href="/blogs/4/" class="meta-chat"><span class="icon-chat"></span></a></div>
                </div>
                <a href="/blogs/4/" class="block-20 img" style="background-image: url('{% static 'images/mega-cash-for-homes-blog-5.jpg' %}');">
	              </a>
                <p>{{bg4.heading_2}}</p>
              </div>
            </div>
          </div>
          <div class="col-md-4 d-flex ftco-animate">
          	<div class="blog-entry justify-content-end">
              <div class="text">
                <h3 class="heading"><a href="/blogs/5/">{{bg5.heading_1}}</a></h3>
                <div class="meta mb-3">
                  <div><a href="/blogs/5/">Admin</a></div>
                  <div><a href="/blogs/5/" class="meta-chat"><span class="icon-chat"></span></a></div>
                </div>
                <a href="/blogs/5/" class="block-20 img" style="background-image: url('{% static 'images/mega-cash-for-homes-blog-6.jpg' %}');">
	              </a>
                <p>{{bg5.heading_2}}</p>
              </div>
            </div>
          </div>
          <div class="col-md-4 d-flex ftco-animate">
          	<div class="blog-entry justify-content-end">
              <div class="text">
                <h3 class="heading"><a href="/blogs/6/">{{bg6.heading_1}}</a></h3>
                <div class="meta mb-3">
                  <div><a href="/blogs/6/">Admin</a></div>
                  <div><a href="/blogs/6/" class="meta-chat"><span class="icon-chat"></span></a></div>
                </div>
                <a href="/blogs/6/" class="block-20 img" style="background-image: url('{% static 'images/mega-cash-for-homes-blog-7.jpg' %}');">
	              </a>
                <p>{{bg6.heading_2}}</p>
              </div>
            </div>
          </div>
        </div>
        
      </div>
    </section>

    {% include 'acc/footer-section.html' %}



  <!-- loader -->
  <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>


  {% include 'acc/script-section.html' %}

  </body>
</html>