{% load static %}
<!DOCTYPE html>
<html lang="en">
  {% include 'acc/head-section.html' %}
  <body>

	  <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
	    <div class="container">
	      <h4 class="" href="/" style="color:#000;">Mega Cash for Homes</h4>
	      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
	        <span class="oi oi-menu"></span> Menu
	      </button>

	      <div class="collapse navbar-collapse" id="ftco-nav">
	        <ul class="navbar-nav ml-auto">
	          <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
	          <li class="nav-item"><a href="/about/" class="nav-link">About</a></li>
	          <li class="nav-item"><a href="/sell/" class="nav-link">Sell Now</a></li>
	          <li class="nav-item"><a href="/meet/" class="nav-link">Meet Us</a></li>
	          <li class="nav-item"><a href="/blog/" class="nav-link">Blog</a></li>
	          <li class="nav-item active"><a href="/contact/" class="nav-link">Contact Us</a></li>
	        </ul>
	      </div>
	    </div>
	  </nav>
    <!-- END nav -->

    <section class="hero-wrap hero-wrap-2 ftco-degree-bg js-fullheight" title="Mega Cash For Homes Contact Us"  style="background-image: url('{% static 'images/mega-cash-for-homes-cover-image.jpg' %}');" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate pb-5 text-center">
          	<p class="breadcrumbs"><span class="mr-2"><a href="/">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>Contact <i class="ion-ios-arrow-forward"></i></span></p>
            <h1 class="mb-3 bread">Contact us</h1>
          </div>
        </div>
      </div>
      <div class="mouse">
				<a href="#" class="mouse-icon">
					<div class="mouse-wheel"><span class="ion-ios-arrow-round-down"></span></div>
				</a>
			</div>
    </section>

		<section class="ftco-section contact-section">
      <div class="container">
        <div class="row d-flex mb-5 contact-info justify-content-center">
        	<div class="col-md-8">
        		<div class="row mb-5">
		          <div class="col-md-6 text-center  py-4">
		          	<div class="icon">
		          		<span class="icon-mobile-phone"></span>
		          	</div>
		            <p><span>Phone:</span> <a href="tel://7037321941">703-732-1941</a></p>
		          </div>
		          <div class="col-md-6 text-center py-4">
		          	<div class="icon">
		          		<span class="icon-envelope-o"></span>
		          	</div>
		            <p><span>Email:</span> <a href="mailto:agentnate@gmail.com">agentnate@gmail.com </a></p>
		          </div>
		        </div>
          </div>
        </div>
        <div class="row block-9 justify-content-center mb-5">
          <div class="col-md-8 mb-md-5">
          	<h2 class="text-center">If you got any questions <br>please do not hesitate to send us a message</h2>
            <form action="/contact/" class="bg-light p-5 contact-form" method="post">
               {% csrf_token %}
              <div class="form-group">
                <input name="cust_name" type="text" class="form-control" placeholder="Your Name" required>
              </div>
              <div class="form-group">
                <input name="cust_mail" type="text" class="form-control" placeholder="Your Email" required>
              </div>
              <div class="form-group">
                <input name="subject" type="text" class="form-control" placeholder="Subject" required>
              </div>
              <div class="form-group">
                <textarea name="message"  cols="30" rows="7" class="form-control" placeholder="Message" required></textarea>
              </div>
              <div class="form-group">
                <input type="submit" value="Send Message" class="btn btn-primary py-3 px-5">
              </div>
            </form>

          </div>
        </div>
      </div>
    </section>

    {% include 'acc/footer-section.html' %}



  <!-- loader -->
  <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>


  {% include 'acc/script-section.html' %} 

  </body>
</html>