{% load static %}
<footer class="ftco-footer ftco-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md">
            <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">Mega Cash for Homes</h2>
              <p>The house you looked at today and wanted to think about until tomorrow may be the same house someone looked at yesterday and will buy today.</p>
              <ul class="ftco-footer-social list-unstyled mt-5">
                <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
              </ul>
            </div>
          </div>
          <div class="col-md">
            <div class="ftco-footer-widget mb-4 ml-md-4">
              <h2 class="ftco-heading-2">About Us</h2>
              <ul class="list-unstyled">
                <li><a href="/about/"><span class="icon-long-arrow-right mr-2"></span>Our Story</a></li>
                <li><a href="/about/"><span class="icon-long-arrow-right mr-2"></span>What we are</a></li>
                <li><a href="/about/"><span class="icon-long-arrow-right mr-2"></span>Testimonials</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md">
             <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">Company</h2>
              <ul class="list-unstyled">
                <li><a href="/about/"><span class="icon-long-arrow-right mr-2"></span>About Us</a></li>
                <li><a href="/blog/"><span class="icon-long-arrow-right mr-2"></span>Blogs</a></li>
                <li><a href="/contact/"><span class="icon-long-arrow-right mr-2"></span>Contact</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md">
            <div class="ftco-footer-widget mb-4">
            	<h2 class="ftco-heading-2">Have a Questions?</h2>
            	<div class="block-23 mb-3">
	              <ul>
	                <li><a href="tel://7037321941"><span class="icon icon-phone"></span><span class="text">703-732-1941</span></a></li>
	                <li><a href="mailto:agentnate@gmail.com "><span class="icon icon-envelope pr-4"></span><span class="text">agentnate@gmail.com </span></a></li>
	              </ul>
	            </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-center">

            <p>Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This website is made with <i class="icon-heart color-danger" aria-hidden="true"></i> by <a href="https://catilina-developers.herokuapp.com/" target="_blank">Catilina Developers</a></p>
          </div>
        </div>
      </div>
    </footer>

