{% load static %}
  <section class="ftco-section  ftco-animate">
    <div class="container iframemega">
      <div class="row">
          <div class="col-lg-12">
              <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item " width="560" height="315" src="https://www.youtube.com/embed/b81AkO3Z06c" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </section>
<section class="ftco-section" >
    <div class="container">
        <div class="row justify-content-center">
        <div class="col-md-12 heading-section text-center ftco-animate mb-5">
            <span class="subheading">What we offer</span>
          <h2 class="mb-2">The smartest way to Sell a home</h2>
        </div>
      </div>
      <div class="row d-flex">
        <div class="col-md-3 d-flex align-self-stretch ftco-animate">
          <div class="media block-6 services d-block text-center">
              <div class="icon d-flex justify-content-center align-items-center"><span class="flaticon-piggy-bank"></span></div>
            <div class="media-body py-md-4">
              <h3>Immediate Payment</h3>
              <p>Payment is immediate so you don't have to worry about delayed payment and all the stuff</p>
            </div>
          </div>
        </div>
        <div class="col-md-3 d-flex align-self-stretch ftco-animate">
          <div class="media block-6 services d-block text-center">
              <div class="icon d-flex justify-content-center align-items-center"><span class="flaticon-wallet"></span></div>
            <div class="media-body py-md-4">
              <h3>All Cash Offer</h3>
              <p>All the amount is paid in cash so just relax and sell</p>
            </div>
          </div>
        </div>
        <div class="col-md-3 d-flex align-self-stretch ftco-animate">
          <div class="media block-6 services d-block text-center">
              <div class="icon d-flex justify-content-center align-items-center"><span class="flaticon-file"></span></div>
            <div class="media-body py-md-4">
              <h3>No Brokerage</h3>
              <p>We don't beleive in brokrage. Why pay the brokerage when you can sell it in much better price.</p>
            </div>
          </div>
        </div>
        <div class="col-md-3 d-flex align-self-stretch ftco-animate">
          <div class="media block-6 services d-block text-center">
              <div class="icon d-flex justify-content-center align-items-center"><span class="flaticon-locked"></span></div>
            <div class="media-body py-md-4">
              <h3>Fast Closing</h3>
              <p>We don't beleive in delaying. Click the button sell and you get purchase agreement right away.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section   class="ftco-section ftco-degree-bg services-section img mx-md-5" style="background-image: url({% static 'images/bgg.jpg' %});">
      <div class="overlay"></div>
      <div class="container">
          <div class="row justify-content-start mb-5">
        <div class="col-md-6 text-center heading-section heading-section-white ftco-animate">
            <span class="subheading">Work flow</span>
          <h2 class="mb-3">How it works</h2>
        </div>
      </div>
          <div class="row">
              <div class="col-md-6">
                  <div class="row">
                      <div class="col-md-12 col-lg-6 d-flex align-self-stretch ftco-animate">
                  <div class="media block-6 services services-2">
                    <div class="media-body py-md-4 text-center">
                        <div class="icon mb-3 d-flex align-items-center justify-content-center"><span>01</span></div>
                      <h3>Tell us about your Property</h3>
                      <p>Give us some details and we will evaluate the best price.</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-12 col-lg-6 d-flex align-self-stretch ftco-animate">
                  <div class="media block-6 services services-2">
                    <div class="media-body py-md-4 text-center">
                        <div class="icon mb-3 d-flex align-items-center justify-content-center"><span>02</span></div>
                      <h3>Arrange the meet</h3>
                      <p>As soon as you send us the request to sell the house we will arrange the meet as soon as possible</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-12 col-lg-6 d-flex align-self-stretch ftco-animate">
                  <div class="media block-6 services services-2">
                    <div class="media-body py-md-4 text-center">
                        <div class="icon mb-3 d-flex align-items-center justify-content-center"><span>03</span></div>
                      <h3>Close the Deal</h3>
                      <p>Deal will be closed as soon as possible so means you get your money very soon.</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-12 col-lg-6 d-flex align-self-stretch ftco-animate">
                  <div class="media block-6 services services-2">
                    <div class="media-body py-md-4 text-center">
                        <div class="icon mb-3 d-flex align-items-center justify-content-center"><span>04</span></div>
                      <h3>Property Sold !!!</h3>
                      <p>That's all property sold. Simple and hassle free.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
  </section>