{% load static %}
<section class="ftco-section ftco-no-pb">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-md-6 p-md-5 img img-2 d-flex justify-content-center align-items-center" title="Mega Cash For Homes Vision"  style="background-image: url({% static 'images/mega-cash-for-homes-people-image.jpg' %});">
            </div>
            <div class="col-md-6 wrap-about py-md-5 ftco-animate">
      <div class="heading-section p-md-5">
        <h2 class="mb-4">We Put People First.</h2>

        <p>We buy houses in ALL CASH MONEY with FAST CLOSINGS! We Get YOU PAID Immediately ON Your Property and WIPE OUT ALL YOUR DEBT! Here At MegaCashForHomes.com, we will buy your property IN ANY CONDITION, NO Matter How MANY Repairs the House NEEDS! <br>That's right YOU PAY for NOTHING, YOU DONT Have to FIX ANYTHING, You PAY ZERO Realtors fees, ZERO Closing Costs, and NO Brokerage Compensations. This WILL SAVE you TENS of THOUSANDS of DOLLARS! NO inspections, NO appraisals, NO financing contingency, NO contingencies of any kind. Visit us today and have a cash offer in your inbox in minutes.</p>
        
      </div>
            </div>
        </div>
    </div>
</section>
<section class="ftco-counter img" id="section-counter">
    <div class="container">
        <div class="row">
      <div class="col-md-6 col-lg-3 justify-content-center counter-wrap ftco-animate">
        <div class="block-18 py-4 mb-4">
          <div class="text text-border d-flex align-items-center">
            <strong class="number" data-number="250">0</strong>
            <span>Area <br>Population</span>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 justify-content-center counter-wrap ftco-animate">
        <div class="block-18 py-4 mb-4">
          <div class="text text-border d-flex align-items-center">
            <strong class="number" data-number="600">0</strong>
            <span>Total <br>Properties</span>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 justify-content-center counter-wrap ftco-animate">
        <div class="block-18 py-4 mb-4">
          <div class="text text-border d-flex align-items-center">
            <strong class="number" data-number="209">0</strong>
            <span>Average <br>House</span>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 justify-content-center counter-wrap ftco-animate">
        <div class="block-18 py-4 mb-4">
          <div class="text d-flex align-items-center">
            <strong class="number" data-number="67">0</strong>
            <span>Houses <br>Buyed</span>
          </div>
        </div>
      </div>
    </div>
    </div>
</section>

        </div>
    </div>
</div>

